/* content advice for my websie
 * https://content.wisestep.com/put-avoid-personal-website/
 *https://www.careeraddict.com/7-things-you-should-include-on-your-personal-website
 *https://smallbiztrends.com/2013/10/things-your-website-should-do.html
 */

 @import url('https://fonts.googleapis.com/css2?family=Germania+One&family=Russo+One&display=swap');


div{
    padding: 0;
    margin: 0;
}



body{
    color: black;
    font-family: 'Aboreto', cursive;
    padding: 0;
    padding-right: 0;
    margin: 0;
    background: skyblue center;
    font-size: 2em;
    background-image:url("../img/ukrstyle.png");
    background-size: contain;
    background-repeat: no-repeat;
}
hr{
    border: 1px solid gold;
}


/* this is the container for the whole page */

/* this is the menue area */
.menu{
    
    background-color: black;
    padding: 0;
    margin: 0;
    width: 100%;
    opacity: 0.85;
    

    z-index: 1000;

}
.menu hr{
    border: 1px solid gold;
}

.menu a {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
    text-align: center;
    color: gold;
    font-family:'Russo One', sans-serif;
    color: gold;
    padding-left: 25px;
    text-decoration: none;
}
 hr{
    padding: 0;
    margin: 0;
}
/* this is the header area */

.BlkBoc{
    background-color: black;
    text-align: center;
    margin: 0;
    padding-left: 0;
    width: 100%;
    color: gold;
    font-family: 'Aboreto', cursive;
    opacity: 0.85;

    /* this will be chaned in mobile view */
    /* top: 25%; */
    top: 5%;
}
.container{
    grid-template-columns: 1fr ;
    grid-template-rows: repeat(2, auto);
}

/* this is the class to store personal information */
.infoBlock{
    grid-row: 1/2;
    width: 100%;
    color: gold;
    font-family: 'Aboreto', cursive;
    background-color: black;
    opacity: 0.80;
    padding: 0;
    margin: 0;
}
.infoBlock > h2,h3,p,a {
    padding-left: 25px;
    padding-right: 25px;
}
.infoBlock .Block1{
    padding-left: 25px;
}
.infoBlock .Block2{
    padding-left: 25px;
}
.infoBlock .Block3{
    padding-left: 25px;
}
.item{
    display: flex;
    justify-content: center;
    align-items: center;
}
.item a{
    padding: 0;
}
.item1{
    grid-row: 1/2;
    grid-column: 1/2;
}
.item2{
    grid-row: 1/2;
    grid-column: 2/3;
}
.item3{
    grid-row: 2/3;
    grid-column: 1/2;
}

.item4{
    grid-row: 2/3;
    grid-column: 2/3;
}
.linkgroup{
    grid-row: 2/3;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    opacity: .85;
}
.linkgroup a{
    padding: 10px;
    margin: 10px;
    border: 1px solid gold;
    background-color: red;
    opacity: 65%;
    border-radius: 30px;
    text-decoration: none;
    color: black;
    font-family: 'Aboreto', cursive;
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    text-align: center;
    color: red;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
}

@media screen and ( min-width : 800px ) {

body{
    font-size: 1.5em;
}


.BlkBoc{
    top: 25%;
}

.container-squares{
    display: flex;

}




}



